@layer Variables {
	:root {
		color-scheme: light dark;
		interpolate-size: allow-keywords;

		@media (prefers-color-scheme: light) {
			color-scheme: light;
		}
		@media (prefers-color-scheme: dark) {
			color-scheme: dark;
		}

		--ri-font-size: 1rem;
		--ri-h1-size: clamp(2rem, calc(3vw + 1.4rem), 3.8rem);
		--ri-h2-size: clamp(1.8rem, calc(2vw + 1.3rem), 3rem);
		--ri-h3-size: clamp(1.6rem, calc(1.5vw + 1.25rem), 2.4rem);
		--ri-h4-size: clamp(1.4rem, calc(1vw + 1.2rem), 2rem);
		--ri-h5-size: clamp(1.2rem, calc(0.6vw + 1.1rem), 1.5rem);
		--ri-h6-size: clamp(1.125rem, calc(0.3vw + 1rem), 1.25rem);
		--ri-font-weight: 400;
		--ri-heading-weight: 600;
		--ri-full-width: 1200px;
		--ri-article-width: 80ch;
		--ri-max-width: var(--ri-full-width);
		--ri-text-width: 80ch;
		--ri-small-size: 0.8rem;
		--ri-spacing: 1rem;
	}
	:root,
	.ri-rounded-min {
		--ri-border-radius: 0.5rem;
	}
	:root,
	.ri-width-full {
		--ri-max-width: var(--ri-full-width);
	}
	.ri-width-article {
		--ri-max-width: var(--ri-article-width);
	}

	:root,
	[data-ri-color],
	[data-ri-hue] {
		.ri-light,
		[data-theme='light'] {
			color-scheme: light;
		}

		.ri-dark,
		[data-theme='dark'] {
			color-scheme: dark;
		}
		--ri-color: var(--ri-custom-color, #2f27ce);

		--ri-accent: light-dark(
			oklch(from var(--ri-color) 0.55 0.3 h),
			oklch(from var(--ri-color) 0.55 0.1 h)
		);

		--ri-background: light-dark(
			oklch(from var(--ri-color) 0.96 0.05 h),
			oklch(from var(--ri-color) 0.07 0.01 h)
		);

		--ri-border-color: light-dark(
			oklch(from var(--ri-color) 0.88 0.1 h),
			oklch(from var(--ri-color) 0.22 0.1 h)
		);

		--ri-card-background: light-dark(
			oklch(from var(--ri-color) 1 0.025 h),
			oklch(from var(--ri-color) 0.11 0.05 h)
		);

		--ri-header-footer-color: light-dark(
			oklch(from var(--ri-color) 0.99 0.05 h),
			oklch(from var(--ri-color) 0.15 0.1 h)
		);

		--ri-muted-text: light-dark(
			oklch(from var(--ri-color) 0.33 0.1 h),
			oklch(from var(--ri-color) 0.33 0.1 h)
		);

		--ri-text: light-dark(
			oklch(from var(--ri-color) 0.11 0.05 h),
			oklch(from var(--ri-color) 0.77 0.02 h)
		);

		--ri-border: 2px solid var(--ri-border-color);
	}

	[data-ri-color] {
		--ri-custom-color: attr(data-ri-color type(<color>));
	}
	[data-ri-hue] {
		--ri-hue: attr(data-ri-hue type(<number>));
		--ri-custom-color: oklch(0.55 0.3 var(--ri-hue, 272));
	}

	.ri-rounded-none {
		--ri-border-radius: 0rem;
	}

	.ri-rounded-max {
		--ri-border-radius: 1rem;
	}
}
@layer riStyle {
	:where(*, *::before, *::after) {
		box-sizing: border-box;
	}
	*:not(dialog) {
		margin: 0;
	}
	body {
		font-family:
			system-ui,
			-apple-system,
			BlinkMacSystemFont,
			'Segoe UI',
			Roboto,
			Oxygen-Sans,
			Ubuntu,
			Cantarell,
			'Helvetica Neue',
			sans-serif;
		-webkit-font-smoothing: antialiased;
		line-height: 1.5;

		accent-color: var(--ri-accent);
		background-color: var(--ri-background);
		color: var(--ri-text);
		font-size: var(--ri-font-size);
		font-weight: var(--ri-font-weight);
		hr {
			margin-block: var(--ri-spacing);
		}
		& > * {
			background: inherit;
			width: min(
				var(--ri-max-width),
				calc(100% - calc(var(--ri-spacing) * 2))
			);
			margin-inline: auto;
		}
		hr {
			border: none;
			border-bottom: var(--ri-border);
		}
	}

	:is(body, main, section, article, aside, fieldset, form, dialog[open]) {
		display: flex;
		flex-direction: column;
		row-gap: var(--ri-spacing);
	}

	:is(body, main, section, article, aside, dialog[open])
		> :first-child:is(h1, h2, h3, h4, h5, h6) {
		margin-block-end: var(--ri-spacing);
	}

	nav {
		align-items: center;
		display: flex;
		padding-block: var(--ri-spacing);

		flex-wrap: wrap;
		:is(ul, ol) {
			flex-wrap: wrap;
			list-style: none;
			padding: 0;
		}
		&:has(ul) {
			flex-direction: row;
			justify-content: space-between;
		}
		&:has(ol) {
			justify-content: start;
		}
		ul {
			display: flex;
			gap: var(--ri-spacing);
		}
	}
	nav strong {
		font-size: var(--ri-h5-size);
	}

	header:not(:has(h1, h2, h3)),
	:is(h1, h2, h3) {
		border-bottom: var(--ri-border);
	}

	header,
	footer {
		padding-block: var(--ri-spacing);
	}

	:is(h1, h2, h3, h4, h5, h6) {
		hyphens: auto;
		overflow-wrap: break-word;
		text-wrap: balance;
		text-box-trim: trim-start;
		/*text-box-edge: cap alphabetic;*/
		font-weight: var(--ri-heading-weight);
	}
	h1 {
		font-size: var(--ri-h1-size);
	}
	h2 {
		font-size: var(--ri-h2-size);
	}
	h3 {
		font-size: var(--ri-h3-size);
	}
	h4 {
		font-size: var(--ri-h4-size);
	}
	h5 {
		font-size: var(--ri-h5-size);
	}
	h6 {
		font-size: var(--ri-h6-size);
	}

	p,
	legend,
	small,
	figcaption {
		hanging-punctuation: first last;
		hyphens: auto;
		overflow-wrap: break-word;
		text-box-trim: trim-both;
	}
	p,
	legend,
	figcaption {
		font-size: var(--ri-font-size);
	}
	blockquote,
	code,
	figcaption {
		padding-inline-start: var(--ri-spacing);
	}
	blockquote {
		border-inline-start: var(--ri-border);
	}
	a {
		color: var(--ri-accent);
	}
	small {
		font-size: var(--ri-small-size);
		color: var(--ri-muted-text);
	}
	figcaption {
		color: var(--ri-muted-text);
	}
	table {
		text-align: left;
	}
	form:not(:has(fieldset)),
	fieldset {
		display: flex;
		flex-direction: column;
		border: var(--ri-border);
		border-radius: var(--ri-border-radius);
		background-color: var(--ri-card-background);
	}
	select,
	select::picker(select) {
		appearance: base-select;
		border-radius: var(--ri-border-radius);
		background-color: var(--ri-background);
		color: inherit;
	}

	input[type='color'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	::-moz-color-swatch {
		border-radius: var(--ri-border-radius);
	}
	::-webkit-color-swatch {
		border-radius: var(--ri-border-radius);
	}

	select,
	textarea,
	input:not(
		[type='checkbox'],
		[type='radio'],
		[type='submit'],
		[type='button'],
		[type='reset'],
		[type='color']
	) {
		width: 100%;
		max-width: 100%;
		padding: var(--ri-spacing);
	}

	textarea {
		resize: none;
		field-sizing: content;
		min-height: 5lh;
		max-height: 10lh;
	}
	:is(input, button, textarea, select) {
		font: inherit;
		font-size: inherit;
		color: inherit;
		display: inline-block;
		vertical-align: middle;
		border-radius: var(--ri-border-radius);
		border: var(--ri-border);
		background-color: var(--ri-background);
	}

	:is(img, picture, video, canvas, svg) {
		display: block;
		max-width: 100%;
		height: auto;
	}

	img,
	article,
	aside,
	dialog,
	picture,
	video,
	canvas {
		border-radius: var(--ri-border-radius);
	}

	input:is([type='reset'], [type='button'], [type='submit']),
	button {
		border: none;
		border-radius: var(--ri-border-radius);
		background-color: var(--ri-accent);
		color: var(--ri-background);
		padding: var(--ri-spacing);
	}

	article,
	aside,
	dialog {
		justify-content: space-between;
		overflow: clip;
	}

	article,
	dialog {
		background-color: var(--ri-card-background);
		color: inherit;
	}
	aside,
	dialog {
		border: var(--ri-border);
	}
	:is(article, aside, dialog) > * {
		padding-inline: var(--ri-spacing);
		&:first-child {
			padding-block-start: var(--ri-spacing);
		}
		&:last-child {
			padding-block-end: var(--ri-spacing);
		}
	}
	:is(article, dialog) > :is(header, footer) {
		background-color: var(--ri-header-footer-color);
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
		gap: var(--ri-spacing);
	}
	[popover] {
		margin-block: auto;
		margin-inline: auto;
	}

	@media (prefers-reduced-motion: no-preference) {
		details {
			&::details-content {
				block-size: 0;
				opacity: 0;
				overflow: clip;
				transition-behavior: allow-discrete;
				transition-property: block-size opacity overlay;
				transition-duration: 200ms;
			}
			&[open]::details-content {
				opacity: 1;
				block-size: fit-content;
				transition-duration: 200ms;
			}
		}
	}
}
